<% if !flash[:notice].blank? %>
    <div class = "notice">
        <%= flash[:notice] %>
    </div>
<% end %>


<div class="subjects index">
    <h2>sections</h2>
    <% link_to("add New Subjects","{:action => 'new'}",:class => 'action new')%>
    
    <table class="listing" summary = "Subject list">
        <tr class="header">
            <th>&nbsp;</th>
            <th>Page ID</th>
            <th>Name</th>
            <th>content</th>
            <th>content_type</th>
            <th>visible</th>
            <th>Actions</th>
        </tr>
        <% @sections.each do |section| %>
        <tr>
            <td><%= section.position %></td>
             <td><%= section.page.name if section.page %></td>
            <td><%= section.name %></td>
            <td><%= section.content_type %></td>
            <td><%= section.content %></td>
            <td class = "center"><%= status_tag(section.visible) %></td>
            <td calss = 'actions'>
                <%= link_to("show",{:action => 'show', :id => section.id}, :class => 'action show') %>
                <%= link_to("Edit",{:action => 'edit', :id => section.id}, :class => 'action edit') %>
                <%= link_to("Delete",{:action => 'delete', :id => section.id}, :class => 'action delete') %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
    